body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffaf0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8fab;
  padding: 1px 20px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 150px;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.3rem;
  transition: color 0.2s;
}
.nav-links a:hover {
  color: #c71585;
}
a {
  transition: color 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 80px;
  margin-right: 10px;
}
